pre {
    width:100%;
    height:400px;
    
    margin:0px;
    padding:0px;
    font-size:16px;
    color:#fff;
    background-color:#300a24;
    overflow: scroll;
    overflow-x: hidden;
    
    font-size:16px;
}
#emoncms-console-log {
    padding-left:20px;
    padding-top:20px;
}
#emonhub-console-log {
    padding-left:20px;
    padding-top:20px;
}
#log-level-dropdown {
    position: absolute;
    right: .2rem;
    bottom: 0;
}
#log-level-dropdown .dropdown-menu {
    background: 0;
    background: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    margin: 0;
}
#log-level-dropdown .dropdown-menu .active {
    font-weight: bold;
}
#log-level-dropdown .dropdown-menu .btn {
    border: 0;
    border-radius: 0;
    background-image: none;
}
#log-level-dropdown li:first-child .btn {
    border-radius: .3em .3em 0 0;
}
#log-level-dropdown li:last-child .btn {
    border-radius: 0 0 .3em .3em;
}
section {
    position: relative;
}
.dropdown-menu-right {
    right: 0 !important;
    left: initial;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
