input { margin:0px !important; }
select { margin:0px !important; }
.add-on { margin:0px !important; }
.input-prepend { margin:0px !important; }

.content-container {
  max-width:1150px;
}

.box {
  padding: 15px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; 
}

.box:last-child {
  border-bottom: 1px solid #ccc;
}

.updated {
  float:right;
}

.rawdata {
  font-size:14px; 
  color:#666;
  padding-top:10px;
  padding-bottom:10px;
}

td {
  padding:5px !important;
}
